* {
    font-family: 'The Nautigal', cursive;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #dddddd;
    --second-bg-color: #eeeeee;
}

body {
    background-color: var(--second-bg-color);
}

header {
    text-align: center;
    font-size: 40px;
}

#list {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    margin: 5px 0;
    padding: 15px 10px;
}

li p {
    font-size: 28px;
}

li:nth-child(odd) {
    background-color: var(--second-bg-color);
}

.container {
    margin: auto;
    border-style: groove;
    width: 500px;
    min-height: 560px;
    background-color: var(--bg-color);
}

#addItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #cccccc;
    margin-bottom: 20px;
}

.input-value {
    width: 340px;
    background: transparent;
    border: none;
    font-size: 25px;
    padding: 5px 10px;
}

.input-value:focus {
    outline: none;
}

.add-item-btn {
    background-color: var(--bg-color);
    border: #ffffff;
    border-radius: 50%;
    font-size: 25px;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.add-item-btn:hover, .deleteButton:hover {
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #bbbbbb;
}


.checkedObj {
    background-color: #15ff00;
    text-decoration: line-through;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;

}

input[type="checkbox"]:checked {
    background-color: #555555;
}


.deleteButton {
    border: 1px solid dimgray;
    padding: 0 8px;
}

.padding-r-l {
    padding: 0 30px;
}

.checked {
    background-color: #15ff00 !important;
    text-decoration: line-through !important
}
